.PostInformationDetails {

}


.PostInformationDetails .inform-details {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

.PostInformationDetails .inform-details .post-updates {
    display: grid;
    grid-auto-rows: 1fr;

}

.PostInformationDetails .inform-details .update-item {
    font-size: 18px;

}


.PostInformationDetails .inform-details .title {
    font-size: 36px;
}

.PostInformationDetails .inform-details .description {
    font-size: 24px
}