.DisasterPosts {
  max-width: 50em;
  padding: 0 2em;
  margin: auto;
}

.DisasterPosts .posts-list-container {
    display: grid;
    gap: 1em 0;
    margin: 2em auto;

}

@media (max-width: 1000px) {
    /* .DisasterPosts .posts-list-container .post-details {
        border: solid 1px red;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            'map-area'
            'disaster-details-area'
            'contact-details-area';
    } */
}
.DisasterPosts .posts-list-container .post-details {
    border: solid 1px #bcbcbc;
    background: #f9f9f9;
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'map-area disaster-details-area contact-details-area'
}

.DisasterPosts .posts-list-container .post-details .contact-details {
    grid-area: contact-details-area;
    padding: 1em;
}

.DisasterPosts .posts-list-container .post-details .map {
    grid-area: map-area;
    border-right: 1px solid #bcbcbc;
    padding: 1em;
}

.DisasterPosts .posts-list-container .post-details .disaster-details {
    grid-area: disaster-details-area;
    border-right: 1px solid #bcbcbc;
    text-align: left;
    padding: 1em;
}

.DisasterPosts .posts-list-container .post-details .disaster-details .updates-list {
    width: 50%;
}

.DisasterPosts .modal-details {
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: 30% auto 20%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    width: 60%;
    background-color: white;
    text-align: left;
}

.DisasterPosts .modal-details .map {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.DisasterPosts .modal-details .contact-info {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 5px;
    border-right: 1px solid #4c4c4c;
}

.DisasterPosts .modal-details .address-info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-bottom: 1px solid #4c4c4c;
    padding: 5px;
}

.DisasterPosts .modal-details .disaster-details {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    padding: 5px;
}

.DisasterPosts .modal-details .inform-details .title {
  display: block;
  padding: 10px 0px;
  text-transform: uppercase;
  font-weight: bold;
}

.DisasterPosts .modal-details .inform-details .description {
  display: block;
  padding: 10px 0px;
  border-bottom: 1px solid #ededed;
}

.DisasterPosts .modal-details .inform-details .post-updates {
  display: block;
  padding: 10px 0px;
  height: 290px;
  overflow-y: auto;
}

.DisasterPosts .modal-details .inform-details .post-updates .update-item {
  display: block;
  padding: 10px 0px;
  border-bottom: 1px solid #ededed;
}

.DisasterPosts .modal-details .close-button {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 16px;
}

.DisasterPosts .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(30, 30, 30, 0.6);
    z-index: 5;
}
