.MainContainer {

}

.MainContainer .tabNavContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid #ccc;
}
.MainContainer .tabNavContainer .tabItem {
    cursor: pointer;
    border-right: 1px solid #ccc;
    padding: 0.5em;
}

.MainContainer .tabNavContainer .tabItem:last-child {
  border-right: none;
}

.MainContainer .tabNavContainer .active {
  font-weight: 600;
}

.MainContainer .tabNavContainer .tabItem:hover {
    color: rgb(64, 104, 164);
    background: #fcfcfc;
}
