.InformationalResources {
  /* limit content width for readability/usability ~80 charcters per line*/
  max-width: 37em;
  margin: auto;
}

.InformationalResources section {
  margin: 2em 0;
}

.InformationalResources ul, .InformationalResources ol {
  /* clear default list styling */
  list-style: none;
  padding: 0;
}

.tiles {
  display: flex;
  /* init a counter to use for our styled numbers*/
  counter-reset: tile-count;
}

.tiles li {
  width: 25%;
  color: #fff;
  text-transform: uppercase;
  background: #2C3E50;
  padding: 1em;
  margin: 0.5em;
  transform: skewX(-5deg);
  /* flex vertical/horizontal centering of contents*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiles li:before {
  /* increment and display the counter number */
  content: counter(tile-count);
  counter-increment: tile-count;
  font-size: 1.5em;
  position: absolute;
  top: -10px;
  left: -10px;
  background: #598dbb;
  padding: 5px;
}

.fancy-checklist {
  --green: #22b573;
  --gray: #777;
  --normal-speed: 200ms;
  line-height: 1.2em;
}

.fancy-checklist li {
  margin: 0.5em;
}

.fancy-checklist li input[type="checkbox"] {
  /* hide the original checkbox and make it take up no space*/
  opacity: 0;
  position: absolute;
}

.fancy-checklist li label {
    /* so child elements are positioned relative to this */
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* width of fake checkbox + padding desired between fake checkbox and text */
    padding-left: 2em;
}

/* For extra UX, little hover effect for a checklist item */
.fancy-checklist li label:hover {
  opacity: 0.7;
}

/* Styled text label checked state */
.fancy-checklist li input[type="checkbox"]:checked + label {
  color: var(--gray);
  text-decoration: line-through;
}

.fancy-checklist li label::before,
.fancy-checklist li label::after {
    /* allow checkbox/mark to overlay each other */
    position: absolute;
    /* so it displays */
    content: "";
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/* Outer box unchecked state*/
.fancy-checklist li label::before{
    height: 1em;
    width: 1em;
    transition: all ease-out 200ms;
    border: 1px solid var(--gray);
    border-radius: 100%;
    left: 0;
    top: 0;
}

/* Checkmark unchecked state*/
.fancy-checklist li label::after {
    opacity: 0;
    /* checkmark left side = height, right side = width */
    width: 4em;
    height: 1em;
    border-left: 1px solid var(--green);
    border-bottom: 1px solid var(--green);
    transition: all ease-out var(--normal-speed);
/*  Positioning of checkmark  */
    left: 0.2em;
    top: 0;
}

/* Styled checkmark checked state */
.fancy-checklist li input[type="checkbox"]:checked + label::after {
    height: 0.35em;
    width: 1.5em;
    opacity: 1;
    border-width: 3px;
    transform: rotate(-45deg);
}

/* Styled outer box checked state */
.fancy-checklist li input[type="checkbox"]:checked + label::before {
  border-color: var(--green);
  border-width: 3px;
}
